.flmodal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.flmodalClose {
  display: none;
}
.content {
  position: relative;
}
.close {
  position: absolute;
}
.flmodal button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  margin: 0;
  padding: 0;
}