.flmodale {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modale {
  background-color: blue;

  position: absolute;
  top: 0;
  right: 50%;
  bottom: auto;
  left: 50%;

  height: 50%;
  width: 50%;
}
